body {
  background-color: #fff;
}

img {
  object-fit: cover;
  object-position: center;
}

section {
  margin: 20px;
}
section h1,
section h3 {
  text-align: center;
}
section .cards {
  display: flex;
  flex-direction: column;
}
section .cards .card {
  border-radius: 5px;
}
@media (min-width: 500px) {
  section .cards {
    flex-direction: row;
    justify-content: space-between;
  }
}

#section1 .cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
#section1 .cards .card {
  margin: 10px;
  background-color: white;
  padding: 10px;
  border: solid 1px gray;
  border-radius: 15px;
  box-shadow: 10px gray;
}
#section1 .cards .card i {
  color: #d58f0c;
}
#section1 .cards .card h4 {
  font-size: 20px;
}
#section1 .cards .card p {
  font-size: 18px;
}

@media (min-width: 500px) {
  #section2 .ligne {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}
#section2 .ligne .gauche ul li {
  list-style: none;
  color: gray;
  font-size: 1.5rem;
}
#section2 .ligne .gauche ul .current {
  color: rgb(7, 17, 198);
}
#section2 .ligne .gauche ul .current span {
  font-size: 2.5rem;
}
@media (min-width: 500px) {
  #section2 .droite .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
#section2 .droite .cards .card {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
#section2 .droite .cards .card:hover {
  border: 5px solid #fff;
  border-radius: 15px;
}
#section2 .droite .cards .card .image {
  width: 100%;
  overflow: hidden;
}
#section2 .droite .cards .card .image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#section2 .droite .cards .card .text {
  background-color: rgb(7, 17, 198);
  margin-top: 0px;
}
#section2 .droite .cards .card .text h6 {
  color: #fff;
  font-size: 1.2rem;
}
#section2 .droite .cards .card .text span {
  color: #fff;
}
#section2 .see-more {
  display: block;
}
@media (min-width: 501px) {
  #section2 .see-more {
    display: none;
  }
}
#section2 .see-more h6 {
  display: flex;
  justify-content: center;
  background-color: rgb(7, 17, 198);
  color: #fff;
  align-items: center;
  font-size: 1.2rem;
}
#section2 .navig {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  color: #fff;
  padding: 20px;
  font-size: 1.5em;
}
#section2 .navig .left {
  background-color: rgb(7, 17, 198);
  height: 40px;
}
#section2 .navig .left h6 {
  position: relative;
  left: 40%;
  bottom: 50%;
}
#section2 .navig .center {
  background-color: #fff;
  height: 40px;
  color: gray;
}
#section2 .navig .center h6 {
  position: relative;
  left: 40%;
  bottom: 70%;
}
#section2 .navig .right {
  background-color: rgb(7, 17, 198);
  height: 40px;
}
#section2 .navig .right h6 {
  position: relative;
  left: 40%;
  bottom: 50%;
}

@media (min-width: 501px) {
  #section3 {
    padding: 100px;
  }
}
@media (min-width: 501px) {
  #section3 form .input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
#section3 form input,
#section3 form select,
#section3 form textarea {
  display: block;
  padding: 15px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid gainsboro;
}
#section3 form select::after {
  content: "* hello ";
  color: red;
  margin-left: 5px;
}
#section3 form input[type=submit] {
  background-color: rgb(7, 17, 198);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
#section3 form input[type=file]::before {
  content: "+";
  color: #fff;
  background-color: rgb(7, 17, 198);
  padding: 20px 40px 20px 40px;
  font-size: 1.4rem;
}
#section3 form .file-input::-webkit-file-upload-button {
  visibility: hidden;
}
#section3 form input[type=submit]:hover {
  background-color: #0056b3;
}

/*# sourceMappingURL=style.css.map */
