// @use 'variables.scss';

$blue :rgb(7, 17, 198);
$blanc : #fff;
$orange : #d58f0c;
$gray: gray;

body {
    background-color: $blanc;
}



section {
    margin: 20px;


    h1,
    h3 {
        text-align: center;
    }

    .cards {
        display: flex;
        flex-direction: column;


        .card {
            border-radius: 5px;
        }

        @media (min-width: 500px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}


#section1 {
    .cards {
        display: flex;
        align-items: center;
        justify-content: center;

        .card {
            margin: 10px;
            background-color: white;
            padding: 10px;
            border: solid 1px gray;
            border-radius: 15px;
            box-shadow: 10px gray;

            i {
                color: $orange;
            }

            h4 {
                font-size: 20px;
            }

            p {
                font-size: 18px;
            }
        }
    }

}

#section2 {
    .ligne {
        @media (min-width:500px) {
            display: grid;
            grid-template-columns: 1fr 3fr;
        }

        .gauche {

            @media (max-width:500px) {
                display: none;
            }

            ul {
                li {
                    list-style: none;
                    color: $gray;
                    font-size: 1.2rem;
                }

                .current {
                    color: $blue;

                    span {
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }

    .droite {
        .cards {
            @media (min-width:500px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
            }

            .card {
                color: $blanc;
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                &:hover {
                    display: none;
                    border: 5px solid $blanc;
                    border-radius: 15px;
                }

                width: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }

                background-color: $blue;

                h3,
                p {
                    position: relative;
                    left: 5px;
                    margin-left: 12px;
                    margin-bottom: 3px;
                }
            }
        }
    }

    .see-more {
        @media (min-width:501px) {
            display: none;
        }

        display: block;


        h6 {
            display: flex;
            justify-content: center;

            background-color: $blue;
            color: $blanc;
            align-items: center;
            font-size: 1.2rem;

        }
    }

    .navig {
        @media (max-width:500px) {
            display: none;
        }

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        color: $blanc;
        padding: 20px;
        font-size: 1.5em;

        .left {
            background-color: $blue;
            height: 40px;

            h6 {
                position: relative;
                left: 40%;
                bottom: 50%;
            }

        }

        .center {
            background-color: $blanc;
            height: 40px;
            color: $gray;

            h6 {
                position: relative;
                left: 40%;
                bottom: 70%;
            }
        }

        .right {
            background-color: $blue;
            height: 40px;

            h6 {
                position: relative;
                left: 40%;
                bottom: 50%;
            }
        }
    }
}

#section3 {
    @media (min-width:501px) {
        padding: 100px;
    }

    form {

        .input {
            @media (min-width:501px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                // grid-template-rows: 1fr 1fr 4fr;
                gap: 30px;

            }
        }

        input,
        select,
        textarea {
            display: block;
            padding: 15px;
            display: block;
            width: 100%;
            margin-bottom: 10px;
            border: 1px solid gainsboro;
        }

        input[type='email'] {
            margin-left: 10px;
        }

        input[type='text'] {
            margin-right: 10px;
        }

        select::after {
            content: "* hello ";
            color: red;
            margin-left: 5px;
        }

        input[type='submit'] {
            background-color: $blue;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        input[type='file']::before {
            content: '+';
            color: $blanc;
            background-color: $blue;
            padding: 20px 40px 20px 40px;
            font-size: 1.4rem;
        }

        .file-input::-webkit-file-upload-button {
            visibility: hidden;
        }

        input[type='submit']:hover {
            background-color: #0056b3;
        }

    }
}